h1 {
  font-size: 175%;
}

a {
  font-size: 125%;
}

body{
	font-size: 16px;
	color: #000000;
	background-color: #FFFFFF;
}

#header-nav {
	background-color: #ffffff;
	border-radius: 0;
	border:0;	
}

.navbar-brand{
	font-weight: bold;	
	color: #FFaaaa;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

.dish{
	background-color: #dddddd;
	margin-top: 10px;
}

.container{
	padding-left: 0px;
	margin-left: 10px;
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
	border: 0px;
}

.insidebox{
	margin-left: 10px;
	margin-right: 10px;
	border: 1px;
	border-color: black;
}

.selectContainer{
	padding-top: 10px;
}

.sliderdiv{
	margin-top: 10px;
}