h1 {
  font-size: 175%;
}

a {
  font-size: 125%;
}

body{
	font-size: 16px;
	color: #000000;
	background-color: #FFFFFF;
}

#arch-header-nav {
	background-color: #ffffff;
	border-radius: 0;
	border:0;	
}

#arch-glyphicon-nav{
	color:grey;
	padding-left: 5px;
}

#arch-search{
	color:grey;
}

.archi-glyphicon-nav-right{
	position: absolute;
	right: 10px;
	margin-top: 10px;
	margin-right: 10px;
}

.navbar-nav {
	margin-top:0px;
	margin-left: 0px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

.navbar{
	margin-bottom: 0px;
}

.dish{
	background-color: #dddddd;
	margin-top: 10px;
}

.container{
	padding-left: 0px;
	margin-left: 10px;
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
	border: 0px;
}

.archi-insidebox{
	margin-left: 10px;
	margin-right: 10px;
	border: 1px;
	border-color: black;
}

.archi-slider-div{
	margin-top: 10px;
}

.archi-slider{
	margin-top: 7px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #dddddd;
}

.btn .caret{
	margin-left: 10px;
}

.input-group{
	margin-left: 10px;
	margin-right: 10px;
}

.archi-numbers-button{
	padding-left: 0px;
	width: 100px;
}
