h1 {
  font-size: 175%;
}

a {
  font-size: 125%;
}

body{
	font-size: 16px;
	color: #000000;
	background-color: #dddddd;
}

#arch-header-nav {
	background-color: #ffffff;
	border-radius: 0;
	border:0;
}

#arch-glyphicon-nav{
	color:grey;
	padding-left: 5px;
}

.archi-glyphicon-nav-right{
	position: absolute;
	right: 10px;
	margin-top: 10px;
	margin-right: 10px;
}

.navbar-nav {
	margin-top:0px;
	margin-left: 0px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

.navbar{
	margin-bottom: 0px;
}

.dish{
	background-color: #dddddd;
	margin-top: 10px;
}

.container{
	padding-left: 0px;
	margin-left: 10px;
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
	border: 0px;
}

.archi-insidebox{
	margin-left: 10px;
	margin-right: 10px;
}

.archi-slider-div{
	margin-top: 10px;
}

.arch-slider{
	margin-top: 7px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #dddddd;
}

.btn .caret{
	margin-left: 10px;
}

.input-group{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: #ffffff;
}

.archi-numbers-button{
	padding-left: 0px;
	width: 100px;
}

.arch-number{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	height: 180px;
}

@media (min-width:768px) {
.arch-number-first-not-xs{
	padding-right: 5px;
	}

.arch-number-last-not-xs{
	padding-left: 5px;
	}
}

@media (min-width: 992px) {
.arch-number-middle-2-not-xs{
	padding-left: 5px;
	padding-right: 5px;
	}

.arch-number-middle-3-not-xs{
	padding-left: 5px;
	}
}

@media (min-width: 1200px) {
.arch-number-middle-3-not-xs{
	padding-right: 5px;
	}
}

.arch-number-inside{
	border-radius: 3px;
	background-color: #ffffff;
	padding: 0px;
	height: 178px;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, .2);
}

.arch-number-inside-box{
	height: 160px;
	border-width: 0px;
}

.arch-number-thumb{
	padding-top: 0px;
	font-size: 100px;
	color: #000000;
}

.arch-font-size-15{
	font-size: 16px;
	margin-top: 10px;
}

.arch-value-text{
	float: left;
  margin-left: 10px;
}

.arch-value{
	font-weight: bold;
}

.arch-name-text{
	float: left;
}

.arch-name{
	font-weight: bold;
}

.arch-status{
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

.arch-owner-text{
	float: left;
}

.arch-owner{
	font-weight: bold;
}

.arch-time-left-number{
	color: red;
	float: left;
}

.arch-time-left-text
{

}

.arch-price-text
{
	float: left;
}

.arch-price-number{
	color: red;
}
